<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="ppd.dao.TotalMoneyDao">

	<select id="findTotalMoney" resultType="ppd.entity.TotalMoney" parameterType="ppd.entity.TotalMoney">
		select
			total as total,
			to_char(recordTime,'yyyy-MM-dd') as recordTime
		from
			${table}
		where recordTime = to_date(#{recordTime},'yyyy-MM-dd')
	</select>
	
	<select id="findByDate" resultType="ppd.entity.TotalMoney" parameterType="java.util.Map">
		select
			total as total,
			to_char(recordTime,'yyyy-MM-dd') as recordTime
		from
			${dataSoure}
		where recordTime &lt;= to_date(#{endDate},'yyyy-MM-dd') and recordTime &gt;= to_date(#{startDate},'yyyy-MM-dd')
		order by recordTime
	</select>

    <insert id="intsert" parameterType="ppd.entity.TotalMoney">
         insert into ${table}
         (
            total,
            recordTime
         )
         values
         (
             #{total},
             to_date(#{recordTime},'yyyy-MM-dd')
         )
    
    </insert>
</mapper>







